[Unit]
Description=Caddy portal (CPA components entry)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/caddy run --config /etc/caddy.Caddyfile
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
